@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@600;700&family=Barlow:wght@400;600&family=Be+Vietnam+Pro:wght@400;500;700&family=Big+Shoulders+Display:wght@700&family=Commissioner:wght@400;500;700&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Inter:wght@300;400;500;700&family=Josefin+Sans:wght@300;400;700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@500;600;700&family=Lexend+Deca&family=Manrope:wght@500;600;700;800&family=Open+Sans:wght@400;700&family=Outfit:wght@400;700;800&family=Overpass:wght@300;600&family=Poppins:wght@500;700&family=Public+Sans:wght@300;400;700&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Space+Mono:wght@700&family=Ubuntu:wght@400;500;700&display=swap');
:root{
    --Radial-Gradient: linear-gradient(90deg, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    --Dark-Text: hsl(229, 25%, 31%);
    --Score-Text: hsl(229, 64%, 46%);
    --Header-Outline: hsl(217, 16%, 45%);
    --Scissors-Gradient: linear-gradient(90deg, hsl(39, 89%, 49%),hsl(40, 84%, 53%)) ;
    --Paper-Gradient:linear-gradient(90deg, hsl(230, 89%, 62%),hsl(230, 89%, 65%)) ;
    --Rock-Gradient:linear-gradient(90deg,hsl(349, 71%, 52%),hsl(349, 70%, 56%)) ;
    --Lizard-Gradient:linear-gradient(90deg,hsl(261, 73%, 60%),hsl(261, 72%, 63%)) ;
    --Cyan:linear-gradient(90deg,hsl(189, 59%, 53%),hsl(189, 58%, 57%));
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.container .modal{
    background-image:url(images/image-rules.svg);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
    padding:40px 0;
    margin:0 20px;
    width:auto;
    text-align: center;
    position: relative;
}
.container .modal h2{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    color:var(--Dark-Text);
    border:none;
}
.container .modal .close{
    position: absolute;
    bottom:40px;
}
.displayNone{
    display:none;
}
.container .step1{
    /* display: none; */
    position: absolute;
    top:0;
    height: 100vh;
    background-image: linear-gradient(0deg, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    width: 100%;
    text-align: center;
    padding:20px;
    /* display: none; */
}
.container .step1 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:3px solid var(--Header-Outline);
    padding:10px 15px 10px 20px;
    border-radius: 10px;
}
.container .step1 header img{
    width:50%;
}
.container .step1 header .box{
    background-color: white;
    padding:10px 20px;
    border-radius: 10px;
    text-align: center;
}
.container .step1 header p{
    font-size: 17px;
    color:var(--Score-Text);
    text-transform: uppercase;
}
.container .step1 header .score{
    font-size: 45px;
    font-weight: 600;
    color: var(--Dark-Text);
}
.container .step1 .hands{
    /* border:2px solid black; */
    height:40vh;
    margin:70px 0;
    background-image: url(images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}
.container .step1 .hands .imgContainer{
    /* border:3px solid gainsboro; */
    width:35%;
    height:54%;
    text-align: center;
    padding:25px 0;
    border-width:10px;
    border-style: solid;
    border-color: green ;
    border-radius: 100px;
    background-color: white;
    box-shadow: ;
}
.container .step1 .hands .imgContainer:first-child{
    border-color: skyblue;
    position: absolute;
    top:-50px;
    left:4%;
    height:54%;
}
.container .step1 .hands .imgContainer:nth-child(2){
    border-color:red;
    position: absolute;
    bottom:-30px;
    left:31%;
    height: 53%;
}
.container .step1 .hands .imgContainer:nth-child(3){
    position: absolute;
    top:-50px;
    right:5%;
    border-color:yellow;
}
.container .step1 .hands p.picked{
    width:auto;
    /* border:2px solid red; */
    position: absolute;
    left: 10px;
    color:#fff;
    font-size: 20px;
    display: none;
    top:200px;
}
.container .step1 .hands p.housePicked{
    left:auto;
    right:0px;
}
.positionHand{
    animation: moveBottom 3s ease-in;
    left:0;
    position: relative;
}
.circle{
    position:absolute;
    top:50px;
    right:10px;
    left:auto;
    width:37%;
    height:55%;
    /* border:2px solid black; */
    border-radius: 100px;
    /* background-color:rgba(0, 0, 0, 0.521); */
    animation: moveRight 3s ease-in;
}
.container h2{
    border:2px solid var(--Header-Outline);
    border-radius: 10px;
    position: relative;
    left:25%;
    text-transform: uppercase;
    font-size: 15px;
    color:white;
    width:40%;
    padding:10px 30px;
    margin:10px;
}

@keyframes moveBottom{
    0%{
        transform: translateY(0px);
    }
    10%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(60px);
    }
    100%{
        transform: translateY(100px);
    }

}

@keyframes moveLeft{
    0%{
        transform: translateX(0px);
    }
    10%{
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(-60px);
    }
    100%{
        transform: translateX(-100px);
    }

}

@keyframes moveRight{
    0%{
        transform: translateX(100px);
    }
    10%{
        transform: translateX(60px);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0px);
    }

}